#.Net
# Build results
bin/
obj/
out/

# Visual Studio / VSCode
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.cache
*.log
*.sln.docstates

# Temp files
*.tmp
*.temp

# Publish output
publish/
*.pubxml
*.publishsettings

# Dotnet tools local state
.tools/

# SQLite database
*.db
*.db-shm
*.db-wal

# Only ignore if accidental:
*.sqlite-journal

# Angular
# Node modules
ClientApp/node_modules/

# Compiled app
ClientApp/dist/
ClientApp/build/

# Angular cache
ClientApp/.angular/
ClientApp/.browser/

# NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (DO NOT commit secrets)
ClientApp/src/environments/*.local.ts

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~

.devcontainer/
.history/