<h1>WEB SUPERVISOR MOCKUP</h1>

<div *ngIf="errorMessage as err" >{{ err }}</div>

<div *ngIf="!errorMessage">
    <div *ngIf="sources$ | async as sources; else loading">
        <div *ngIf="sources.length == 0">
            No sources returned.
        </div>

        <div class="sources-grid" *ngIf="sources.length > 0">
            <div *ngFor="let source of sources" class="sources-chart">
                <h2>#{{ source.id }} - {{ source.name }}</h2>
                <p>
                    Profile: {{ source.behaviourProfile }} |
                    Enabled: {{ source.isEnabled ? 'YES' : 'NO' }}
                </p>

                <app-source-chart-component [source]="source"></app-source-chart-component>
            </div>
        </div>
    </div>

    <ng-template #loading>
        Loading sources...
    </ng-template>
</div>

