<div class="source-readings">

    <button (click)="setWindow('5m')" [class.active]="currentWindow() === '5m'">5 mins</button>
    <button (click)="setWindow('15m')" [class.active]="currentWindow() === '15m'">15 mins</button>
    <button (click)="setWindow('all')" [class.active]="currentWindow() === 'all'">All</button>

        @let enabled = (enabled$ | async);
        <button
            (click)="toggleEnabled(enabled ?? false)"
            [disabled]="isApplying()"
            [class.enable]="!enabled"
            [class.disable]="enabled">
            {{ enabled ? 'Disable' : 'Enable '}}
        </button>

    <span *ngIf="isApplying()" class="applying-indicator">
        Applying change...
    </span>

    <div *ngIf="readings$ | async as readings; else loading" class="content-grid">
        <div class="panel">
            <div class="panel-title">Readings</div>

            <div *ngIf="readings.length === 0">No readings yet.</div>

            <div *ngIf="readings.length > 0" class="table-scroll">
                <table class="readings-table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="num">RPM</th>
                            <th class="num">Power</th>
                            <th class="num">Temperature</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let r of readings">
                            <td>{{ r.timestamp | date:'HH:mm:ss' }}</td>
                            <td class="num">{{ r.rpm }}</td>
                            <td class="num">{{ r.power }}</td>
                            <td class="num">{{ r.temperature | number: '1.1-1' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="panel">
            <div class="panel-title">Chart</div>
            <div class="chart-placeholder">
                Chart placeholder
            </div>
        </div>
    </div>

    <ng-template #loading>
        Loading readings...
    </ng-template>
</div>